<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Database" value="none"/>
    <add key="MysqlUser" value="none"/>
    <add key="MysqlPW" value="none"/>
	<add key="version" value="0.1"/>
  </appSettings>
</configuration>